@{
    ViewData["Title"] = "Inicio";
}

<style>
    body {
        background: radial-gradient(circle, #18181c 20%, #2a2733);
    }
</style>

<div class="container-fluid taller-container-table" style="flex-direction: row;">
    <div class="foto-perfilinfo">
        @if (User.Identity.IsAuthenticated) {
            @if (!string.IsNullOrEmpty(User.FindFirst("Avatar")?.Value))
            {
                <img src="@Url.Content(@User.FindFirst("Avatar")?.Value)" alt="Perfil" class="rounded-circle user-perfil-avatar" style="width: 80px; height: 80px;" />
            }
            else
            {
                string? nombre = User.FindFirst("NombreCompleto")?.Value ?? "";
                string? inicial = nombre.Length > 0 ? nombre.Substring(0, 1).ToUpper() : "?";
                <div class="rounded-circle bg-primary text-white d-flex align-items-center justify-content-center user-perfil-avatar" style="width: 80px; height: 80px; font-size: 48px;">
                    @inicial
                </div>
            }
        }
    </div>
    <div class="info-perfilinfo">
        <h2 class="mt-3 nombre-perfilinfo">Hola, @User.FindFirst("NombreCompleto")?.Value!</h2>
        <p>Rol: @User.FindFirst("Rol")?.Value</p
        <p>Email: @User.FindFirst("Email")?.Value</p>
        <p>Telefono: @User.FindFirst("Telefono")?.Value</p>
        <p>DNI: @User.FindFirst("DNI")?.Value</p>
        <div class="btns-perfilinfo">
            <a href="javascript:void(0);" class="btn-editar-perfilinfo" data-id="@User.FindFirst("IdUsuario")?.Value">Editar Perfil</a>
            <a href="javascript:void(0);" class="btn-password-perfilinfo" data-id="@User.FindFirst("IdUsuario")?.Value">Cambiar Contraseña</a>
        </div>
    </div>
</div>